* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'r-r';
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

body {
    background: var(--body_bg);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
    --body_bg: rgba(238, 238, 238, 1);
    --white: #fff;
    --black: #000;
    --blue: rgba(61, 86, 117, 1);
    --orange: rgba(242, 174, 77, 1);
    --black-light: rgba(1, 31, 58, 1);
    --grey: rgba(161, 161, 161, 1);
    --green: rgba(114, 189, 163, 1);
    --yellow-bd: rgba(161, 161, 161, 0.4);
    --yellow: rgba(255, 202, 58, 1);
    --card-link:rgba(242, 242, 242, 1);


    --col-1: calc(100%/12);
    --col-2: calc(100%/12*2);
    --col-3: calc(100%/12*3);
    --col-4: calc(100%/12*4);
    --col-5: calc(100%/12*5);
    --col-6: calc(100%/12*6);
    --col-7: calc(100%/12*7);
    --col-8: calc(100%/12*8);
    --col-9: calc(100%/12*9);
    --col-10: calc(100%/12*10);
    --col-11: calc(100%/12*11);
    --col-12: 100%;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: auto;
    padding: 0 15px;
}


.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}


.col-1 {
    width: var(--col-1);
    padding: 0 15px;
}

.col-2 {
    width: var(--col-2);
    padding: 0 15px;
}

.col-3 {
    width: var(--col-3);
    padding: 0 15px;
}

.col-4 {
    width: var(--col-4);
    padding: 0 15px;
}

.col-5 {
    width: var(--col-5);
    padding: 0 15px;
}

.col-6 {
    width: var(--col-6);
    padding: 0 15px;
}

.col-7 {
    width: var(--col-7);
    padding: 0 15px;
}

.col-8 {
    width: var(--col-8);
    padding: 0 15px;
}

.col-9 {
    width: var(--col-9);
    padding: 0 15px;
}

.col-10 {
    width: var(--col-10);
    padding: 0 15px;
}

.col-11 {
    width: var(--col-11);
    padding: 0 15px;
}

.col-12 {
    width: var(--col-12);
    padding: 0 15px;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}

.header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--white);
    z-index: 1;
}

.header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 70px;
    padding: 0 15px;
}

.header__list, .header__nav {
    display: flex;
    justify-content: space-between;
}

.header__list , .header__personal{
    position: relative;
    z-index: 2;
}

.header__logo {
    flex-grow: 1;
    z-index: 2;
}

.header__nav {
    flex-grow: 1;
}


.header__link , .header__icon {
    display: inline-block;
    color: var(--black-light);
    text-decoration: none;
    margin: 0 23px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
}

.header__link::after {
    content: '';
    width: 100%;
    height: 2px;
    background: var(--black-light);
    display: block;      
    transform: scaleX(0);  
    transition: 0.5s;
    transform-origin: left;
}

.header__link:hover::after{
    transform: scaleX(1);
}

.header__icon {
    margin: 0;
}

.header-content {
    background: var(--orange);
}

.header-content__item{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: var(--col-5);
}


.header__title {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 33px;
}

.header__text {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 14px;
    width: var(--col-7);
}

.header__sublink {
    padding: 20px 30px;
    color: #fff;
    text-transform: uppercase;
    background: var(--blue);
    border-radius: 44px;
}




/* ============================== */
/* ============================== */
/* ============================== */



.sponsors {
    background: var(--white);
    padding: 10px 0;
}

.sponsors__body {
    display: flex;
    justify-content: space-between;
}

.sponsors__card {
    width: var(--col-2);
    display: flex;
    align-items: center;
}

.sponsors__img-1 {
    width: 140px;
    height: 80px;
    object-fit: contain;
}

.sponsors__img-2 {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.sponsors__img-3 {
    width: 125px;
    height: 80px;
    object-fit: contain;
}

.sponsors__text {
    font-size: 15px;
    line-height: 19px;
    color: var(--grey);

}



/* ========================================================= */
/* ========================================================= */
/* ========================================================= */
/* ========================================================= */



.products__intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 55px 0;
}

.products__title {
    font-size: 32px;
    line-height: 37.5px;
    color: var(--black-light);
}

.btn {
    display: inline-block;
    width: max-content;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: var(--white);
    padding: 13px 25px;
    background: var(--blue);
    border-radius: 44px;
    text-transform: uppercase;
}

.products__content {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    background: var(--white);
}

.products__card {
    display: grid;
    grid-template: 1fr auto / 1fr 1fr 1fr 1fr 1fr;
    padding: 0 25px;
    border: 1px solid var(--body_bg);
}

.products__img {
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    width: 100%;
    object-fit: contain;
}

.products__card-content {
    grid-column: 1 / 4;
    grid-row: span 1;
}

.products__card-subcontent {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    text-align: right;
    font-size: 15px;
    line-height: 24px;
    color: var(--grey);
}

.products__card-title {
    font-size: 18px;
    line-height: 21px;
    color: var(--black-light);
    margin-bottom: 8px;
}

.products__card-text {
    line-height: 24px;
    font-size: 15px;
    color: var(--grey);

}

.products__extra {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.products__extra-text {
    font-weight: 700;
    line-height: 24px;
    font-size: 15px;
    margin-right: 15px;
    color: var(--grey);
}

.products__extra-link {
    color: var(--blue);
    padding: 13px 25px;
    background: var(--white);
    border-radius: 44px;
    text-transform: uppercase;
}


/* ============================== */
/* ============================== */
/* ============================== */



.box {
    background: var(--green);
    padding: 90px 0 100px 0;
}


.box__title {
    text-align: center;
}
.box__body {
    display: flex;
    flex-direction: column;
}

.box__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box__title {
    font-size: 32px;
    line-height: 41px;
    margin-bottom: 45px;
}


.box__card {
    width: var(--col-4);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box__img {
    width: 100%;
    object-fit: contain;
    height: 250px;
}

.box__card-title {
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    margin-bottom: 10px;
    color: var(--black-light);
}

.box__card-text {
    font-size: 15px;
    line-height: 24px;
    color: var(--blue);
    padding: 0 100px;
    text-align: center;
}

.box__link {
    margin: 75px auto 0 auto;
}



/* ============================================= */
/* ============================================= */
/* ============================================= */
/* ============================================= */


.adv {
    padding: 90px 0 140px 0;
}

.adv__img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.adv__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 41px;
    color: var(--black-light);
    margin-bottom: 50px;
}

.adv__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.adv__card {
    width: var(--col-3);
    display: flex;
    flex-direction: column;
}

.adv__card-title {
    font-weight: 700;
    line-height: 23px;
    font-size: 18px;
    color: var(--black-light);
    margin-bottom: 10px;
}

.adv__card-text {
    line-height: 24px;
    font-size: 15px;
    color: var(--grey);   
}






/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */




.yellow__body {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    padding: 110px 0;
    background: var(--yellow);
}

.yellow__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 120px;
}

.yellow__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: var(--black-light);
}

.yellow__text {
    font-size: 15px;
    line-height: 24px;
    color: var(--blue);
}

.yellow__link {
    text-transform: uppercase;
    line-height: 18px;
    font-size: 14px;
    font-weight: 700;
    padding: 13px 25px;
    background: var(--white);
    border-radius: 44px;
    display: inline-block;
    margin-top: 10px;
    color: var(--blue);
}

.yellow__card:first-of-type {
    border-right: 2px solid var(--yellow-bd);
}



/* ============================================= */
/* ============================================= */
/* ============================================= */
/* ============================================= */




.partner__partner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.partner__logo {
    width: 200px;
    height: 70px;
    object-fit: contain;
}

.partner__body {
    display: grid;
    grid-template: repeat(4, 1fr) / 50% calc(50% - 25px);
    background: var(--white);
    column-gap: 25px;
    row-gap: 55px;
    overflow: hidden;
    box-shadow: 0px 14px 44px rgba(143, 143, 143, 0.25);
}


.partner__card {
    display: flex;
    flex-direction: column;
    width: var(--col-8);
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.partner__card-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__card-story {
    display: flex;
    align-items: center;
}

.partner__card-block {
    display: flex;
    flex-direction: column;
}

.partner__img-block {
    display: flex;
}

.partner__img {
    width: 50%;
    height: 294px;
    object-fit: contain;
}

.partner__card-title {
    font-size: 24px;
    line-height: 32px;
    color: var(--black-light);
    margin-bottom: 10px;
}

.partner__card-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 20px;
}

.partner__card-name {
    font-size: 18px;
    line-height: 22px;
    color: var(--black-light);
    margin-bottom: 4px;
}

.partner__card-descr {
    color: var(--grey);
    line-height: 24px;
    font-size: 15px;   
}

.partner__card-link {
    color: var(--blue);
    text-transform: uppercase;
    padding: 13px 25px;
    background: var(--card-link);
    border-radius: 44px;
    font-size: 14px;
}